{% extends 'base/base.html'%}

{% block content %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Metodo Newton - Raphsen
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingrese la función F(x)</h5>
                    <form action="/MNR" method="post">
                        <div class="form-group">
                            <label for="fx">Funcion a Derivar F(x): </label>
                            <input type="text" class="form-control" id="fx" name="fx" /><br>
                            <input type="submit" class="btn btn-primary" id="send-signup" name="signup" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Metodo Newton - Raphsen
                </div>
                <div class="card-body">
                    <h5 class="card-title">Valores De la Derivada</h5>
                    <h6>El Valor de la Derivada F(x) introducida es: {{funcion_usr}}</h6>
                    <h6>El valor de la derivada F(x) es: {{derivada}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}