{% extends 'base/base.html'%}

{% block content %}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col align-items-center">
            <div class="card">
                <div class="card-header">
                    Módulo de Graficación de Funciones
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingrese la función F(x)</h5>
                    <form action="/graficas" method="post">
                        <div class="form-group">
                            <label for="fx">Funcion a Graficar F(x): </label>
                            <input type="text" class="form-control" id="fx" name="fx" required/><br>
                            <input type="submit" class="btn btn-primary" id="send-signup" name="signup" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}