{% extends 'base/base.html'%}

{% block content %}

<div class="container">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Metodo Newton - Raphsen
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingrese la función F(x)</h5>
                    <form action="/MNR" method="post">
                        <div class="form-group">
                            <label for="fx">Funcion a Derivar F(x): </label>
                            <input type="text" class="form-control" id="fx" name="fx" /><br>
                            <input type="submit" class="btn btn-primary" id="send-signup" name="signup" value="Enviar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}