{% extends 'base/base.html'%}

{% block content %}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col mx-auto">
            <div class="card">
                <div class="card-header">
                    Metodo Newton - Raphsen
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingrese la función F(x) en la cuál se aplicará el método</h5>
                    <form action="/MNR" method="post">
                        <div class="form-group">
                            <label for="fx">Funcion F(x): </label>
                            <input type="text" class="form-control" id="fx" name="fx" required/><br>
                            <input type="submit" class="btn btn-primary" value="Enviar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}